.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  gap: 1rem;
}

.header h1 {
  margin: 0;
}

.header p {
  margin: 0.5rem 0;
}

.content-container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
